.welcome-container {
  text-align: center;
  margin-top: 100px;
  font-family: sans-serif;
}

.login-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.register-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.login-btn:hover {
  background: #0056b3;
}

.register-btn:hover {
  background: #0056b3;
}
